{{ form_start(form) }}
<div class="row">

    {{form_row(form.title,{'label':'Titre de la location','attr':{'placeholder': "Titre",'class' : 'col-md-11'}}) }}


    {{form_row(form.surface, {'label':'Surface en m²','attr':{'placeholder':"Description",'class' : 'col-md-11'}}) }}


    {{form_row(form.price, {'label':'Prix','attr':{'placeholder': "En € et par mois",'class' : 'col-md-12'}}) }}

</div>
<div class="row">

    {{form_row(form.rooms,{'label':'Nombre de piece(s)','attr':{'placeholder': "",
        'class' : 'col-md-6'}}) }}


    {{form_row(form.bedrooms,{'label':'Nombre de chambre','attr':{'placeholder': "",
        'class' : 'col-md-6'}}) }}


    {{form_row(form.floor,{'label':'L\'étage de la location','attr':{'placeholder': "",
        'class' : 'col-md-6'}}) }}


    {{form_row(form.heat,{'label':'Type de chauffage','attr':{'placeholder': "",
        'class' : 'col-12'}}) }}

</div>

<div class="row ">
    <div class="col md-5">
        {{form_row(form.address,{'label':'Addresse','attr':{'placeholder': "",'class':""}}) }}
    </div>
        {{form_row(form.city,{'label':'Ville','attr':{'placeholder': "",
          'class' : 'col-md-10'}}) }}
         {{form_row(form.postale_code,{'label':'Code postal','attr':{'placeholder': "",
          'class' : 'col-md-8'}}) }}
</div>
<div class="row">
    {{form_row(form.sold,{'label':'Loué ?','attr':{'placeholder': "",
        'class' : 'col-md-6'}}) }}
</div>
    {{form_row(form.description,{'label':'Description de l\'annonce','attr':{'placeholder': "Description complète de la location",
         'class' : 'col-12'}}) }}

<button type="submit" class="btn btn-warning btn-lg " > {{ button|default('Enregistrer') }} </button>
{{form_end(form)}}
